.div1 {
	width:550px;
	height:108px;
	margin:100px auto;
	position:relative;
	overflow:hidden;
}

.div1ul {
	position:absolute;
	left:0;
	top:0;
}

.div1ulli {
	float:left;
	width:120px;
	height:108px;
	list-style:none;
	margin:0;
	padding:0;
}